# Git
.git
.gitignore
.github

# Documentation
*.md
docs/

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
tmp/
bin/

# Turborepo
.turbo/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env*.local

# Testing
coverage/

# Misc
.DS_Store
*.log
