name: Generate version

on:
  push:
    branches:
    - master

env:
  GITHUB_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Fetch latest changes
      run: |
        git fetch origin master
        git rebase origin/master

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install root dependencies
      run: npm ci --ignore-scripts

    - name: Run semantic-release
      run: npx -p semantic-release -p semantic-release-monorepo semantic-release -e semantic-release-monorepo
