name: Generate version

on:
  push:
    branches:
      - master

env:
  GITHUB_TOKEN: ${{ secrets.RELEASE_PLEASE_TOKEN }}
  GITHUB_USER: ${{ github.actor }}

permissions:
  contents: write
  pull-requests: write

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get versio
        uses: chaaz/versio-actions/install@v1.3

      - name: Fetch history
        run: git fetch --unshallow

      - name: Run Versio Release
        run: |
          versio --vcs-level=max release --lock-tags
